<%- include ../partials/header.ejs %>

<form class="form m-3" action="/posts/<%=post._id%>?_method=PUT" method="POST">
	<h2>Create a Hire</h2>
	<input type="hidden" name="category" value="Hire">
	<input type="text" name="title" placeholder="Your Name*" value="<%=post.title%>" required><br>
	<textarea name="description" placeholder="description*" required><%=post.description%></textarea><br>
	<input type="text" name="image" placeholder="Resume URL" value="<%=post.image%>"><br>
	<input type="text" name="email" placeholder="email*" value="<%=post.email%>" required><br>
	<p>required field*</p>
	<button>Create Post</button>
</form>

<%- include ../partials/footer.ejs %>