<%- include ../partials/header.ejs %>

<form class="new" action="/users/<%=user._id%>?_method=PUT" method="POST">
  <input type="email" name="email" value="<%=user.email%>">
  <input type="text" name="phone" value="<%=user.phone%>">
  <input type="text" name="linkedin" value="<%=user.linkedin%>">

  <button>Register</button>
</form>


<%- include ../partials/footer.ejs %>