<%- include ../partials/header.ejs %>

<form class="new" action="/users/<%=user._id%>?_method=PUT" method="POST">
  Email: <input type="email" name="email" value="<%=user.email%>" required>
  Phone#: <input type="text" name="phone" value="<%=user.phone%>">
  LinkedIn Profile: <input type="text" name="linkedin" value="<%=user.linkedin%>">

  <button>Update</button>
</form>


<%- include ../partials/footer.ejs %>