<%- include ('../partials/header.ejs') %>

<%if(foundUser._id == session.UserId){%>
	<header class="m-3">
		<a href="/users/<%=foundUser.id%>/edit">Edit or Delete User</a>
	</header>
<%}else if(foundUser._id.equals(user._id)){%>
	<header class="m-3">
		<a href="/users/<%=foundUser.id%>/edit">Edit or Delete User</a>
	</header>
<%}%>

<main class="m-4">
	<p class="text-danger"> <%= message %> </p>
	<h1 class="ml-3"><strong><%=foundUser.name%></strong></h1>
	<h4>Contact Info</h4>
	<section class="ml-5">
		<a href="/users/<%=foundUser.id%>/message">Send an Email to <%=foundUser.name%></a>
		<%if(foundUser.phone != null){%>
			<p>Phone: <%=foundUser.phone%> </p>
		<%}%>		<br>
		<%if(foundUser.linkedin.length > 0){%>
			<a href="<%=foundUser.linkedin%>">LinkedIn Account</a>
		<%}%>
	</section>
</main>

<section class="m-4">
	<h3><%=foundUser.name%>'s Posts</h3>
	<% 
	const jobs = [];
	const meets = [];
	const hires = [];
	posts.forEach((post) => { 
		if(post.category === 'Job') {
			jobs.push(post)
		} else if (post.category === 'Meet') {
			meets.push(post)
		} else if (post.category === 'Hire') {
			hires.push(post)
		}
	})%>

	<%if(jobs.length > 0){ %>
		<h4>Job Listings</h4>
		<%jobs.forEach((post) => {%>
			<ul>
				<li>
					<a href="/posts/<%=post.id%>"><%=post.title%></a>
				</li>
			</ul>
		<%})%>
	<%}%>

	<%if(hires.length > 0){ %>
		<h4>Hires</h4>
		<%hires.forEach((post) => {%>
			<ul>
				<li>
					<a href="/posts/<%=post.id%>"><%=post.title%></a>
				</li>
			</ul>
		<%})%>
	<%}%>

	<%if(meets.length > 0){ %>		
		<h4>Meet-Ups</h4>
		<%meets.forEach((post) => {%>
			<ul>
				<li>
					<a href="/posts/<%=post.id%>"><%=post.title%></a>
				</li>
			</ul>
		<%})%>
	<%}%>	
</section>

<%- include ('../partials/footer.ejs') %>
