<%- include ../partials/header.ejs %>
<header></header>
<form action="/users/<%=user.id%>?_method=DELETE" method="post" >
	
	<button>Delete User</button>
</form>

<a href="/users/<%=user.id%>/edit">EDIT USER</a>
<h1> <%= user.name%>'s Posts</h1>

<ul>

<% posts.forEach((post, i) => { %>
	<li>
		<a href="/posts/<%= post.id %>"> <%= post.title %> </a>
	</li>

<% }) %>

</ul>
