<%- include ../partials/header.ejs %>

<%if(user._id == session.userId){%>
	<header class="editB">
		<a href="/users/<%=user.id%>/edit">Edit or Delete User</a>
	</header>
<%}%>
<main>
	<h1><%=user.name%></h1>
	<h2>Contact Info</h2>
	<p><%=user.description%></p>
	<p><%=user.email%></p>
	<p><%=user.phone%></p>
	<%if(user.linkedin.length > 0){%>
		<a href="<%=user.linkedin%>">LinkedIn Account</a>
	<%}%>
</main>
<section>
	<h2><%=user.name%>'s Posts</h2>

	<%for(let i = 0; i < posts.length; i++){%>
		<%if(posts[i].category === 'Job'){%>
			<h3>Job Listings</h3>
			<a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>

		<%}else if(posts[i].category === 'Hire'){%>
			<h3>Hires</h3>
			<a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>

		<%}else if(posts[i].category === 'Meet'){%>
			<h3>Meet-Ups</h3>
			<a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>
		<%}%>
	<%}%>
</section>
