<%- include ../partials/header.ejs %>

<%if(user._id == session.userId){%>
	<header class="editB">
		<a href="/users/<%=user.id%>/edit">Edit or Delete User</a>
	</header>
<%}%>
<main class="m-4">
	<p class="text-danger"> <%= message %> </p>
	<h1><%=user.name%></h1>
	<h4>Contact Info</h4>
	<p><%=user.description%></p>
	<p><%=user.email%></p>
	<a href="/users/<%=user.id%>/message">Email: <%=user.name%>%></a>
	<p><%=user.phone%></p>
	<%if(user.linkedin.length > 0){%>
		<a href="<%=user.linkedin%>">LinkedIn Account</a>
	<%}%>
</main>
<section class="m-4">
	<h4><%=user.name%>'s Posts</h4>

	<%for(let i = 0; i < posts.length; i++){%>
		<%if(posts[i].category === 'Job'){%>
			<h5>Job Listings</h5>
			<a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>

		<%}else if(posts[i].category === 'Hire'){%>
			<h5>Hires</h5>
			<a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>

		<%}else if(posts[i].category === 'Meet'){%>
			<h5>Meet-Ups</h5>
			<a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>
		<%}%>
	<%}%>
</section>
