<%- include ../partials/header.ejs %>

<%if(user._id == session.userId){%>
	<header class="editB">
		<a href="/users/<%=user.id%>/edit">Edit or Delete User</a>
	</header>
<%}%>
<main>
	<h1><%=user.name%></h1>
	<h2>Contact Info</h2>
	<p><%=user.description%></p>
	<p><%=user.email%></p>
	<p><%=user.phone%></p>
	<a href="<%=user.linkedin%>">LinkedIn Account</a>
</main>
<section>
	<h2><%=user.name%>'s Posts</h2>
	<ul>
		<%posts.forEach((post) => {%>
			<li>
				<a href="/posts/<%=post.id%>"><%=post.title%></a>
			</li>
		<%})%>
	</ul>
</section>