<%- include ../partials/header.ejs %>

<form class="form" action="/posts/<%=post._id%>?_method=PUT" method="POST">
	<input type="text" name="title" placeholder="title*" value="<%=post.title%>" required><br>
	<!-- <option></option> -->
	<input type="text" name="image" placeholder="image URL" value="<%=post.image%>"><br>
	<textarea name="description" placeholder="description*" required><%=post.description%></textarea><br>
	<input type="text" name="location" placeholder="location" value="<%=post.location%>"><br>
	<input type="text" name="email" placeholder="email" value="<%=post.email%>"><br>
	<button>Update Post</button>
</form>

<%- include ../partials/footer.ejs %>