<%- include ../partials/header.ejs %>

<form action="/posts/<%=post._id%>?_method=PUT" method="POST">
	<input type="text" name="title" value="<%=post.title%>"><br>
	<input type="text" name="image" value="<%=post.image%>"><br>
	<textarea name="description" ><%=post.description%></textarea><br>
	<input type="text" name="location" value="<%=post.location%>"><br>
	<input type="text" name="email" value="<%=post.email%>"><br>
	<button>Update Post</button>
</form>

<%- include ../partials/footer.ejs %>