<%- include ../partials/header.ejs %>

	<% 
	const jobs = [];
	const meets = [];
	const hires = [];
	posts.forEach((post) => { 
		if(post.category === 'Job') {
			jobs.push(post)
		} else if (post.category === 'Meet') {
			meets.push(post)
		} else if (post.category === 'Hire') {
			hires.push(post)
		}
	})%>
	
	<main>
		<h2 class="category">Jobs</h2>
		<ul class="categoryList">
			<% jobs.forEach((post) => { %>
				<li>
					<a href="/posts/<%=post._id%>"><%=post.title%></a>
				</li>
			<% }) %>
		</ul>

		<h2 class="category">Meet - ups</h2>
		<ul class="categoryList">
			<% meets.forEach((post) => { %>
				<li>
					<a href="/posts/<%=post._id%>"><%=post.title%></a>
				</li>
			<% }) %>
		</ul>

		<h2 class="category">Job Candidates</h2>
		<ul class="categoryList">
			<% hires.forEach((post) => { %>
				<li>
					<a href="/posts/<%=post._id%>"><%=post.title%></a>
				</li>
			<% }) %>
		</ul>

	</main>
<%- include ../partials/footer.ejs %>
