<%- include ../partials/header.ejs %>

	<% 
	const jobs = [];
	const meets = [];
	const hires = [];
	posts.forEach((post) => { 
		if(post.category === 'Job') {
			jobs.push(post)
		} else if (post.category === 'Meet') {
			meets.push(post)
		} else if (post.category === 'Hire') {
			hires.push(post)
		}
	})%>
	
	<main>
		<div class="container">
  			<div class="row">
    			<div id="column" class="col m-4 bg-light">
					<h4>Jobs</h4>
					<ul class="list-group list-group-flush">
						<% jobs.forEach((post) => { %>
							<li>
								<a href="/posts/<%=post._id%>"><%=post.title%></a>
							</li>
						<% }) %>
					</ul>
				</div>
				<div id="column" class="col m-4 bg-light">
					<h4>Meet - ups</h4>
					<ul class="list-group list-group-flush">
						<% meets.forEach((post) => { %>
							<li>
								<a href="/posts/<%=post._id%>"><%=post.title%></a>
							</li>
						<% }) %>
					</ul>
				</div>
				<div id="column" class="col m-4 bg-light">
					<h4>Job Candidates</h4>
					<ul class="list-group list-group-flush">
						<% hires.forEach((post) => { %>
							<li>
								<a href="/posts/<%=post._id%>"><%=post.title%></a>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</main>	
<%- include ../partials/footer.ejs %>
