<%- include ../partials/header.ejs %>
	<%if(user._id == session.userId){ %>
		<header class="editB">
			<a href="/posts/<%=post._id%>/edit">Edit Post</a>
			<form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
				<button class="delete">Delete Post</button>
			</form>
		</header>
	<%}%>
	<main>
		<h1><%=post.title%></h1>
		<img src="<%=post.image%>">
		<p><%=post.description%></p>
		<p><%=post.email%></p>
		<p><%=post.location%></p>
	</main>
	<a href="/users/<%= user._id %>"> Poster:<%= user.name %></a>

<%- include ../partials/footer.ejs %>