<%- include ../partials/header.ejs %>

	<%if(user._id == session.userId){ %>
		<header class="m-4">
			<a href="/posts/<%=post._id%>/edit">Edit or Delete Post</a>
		</header>
	<%}%>

	<main class="m-5">
		<h2><%=post.title%></h2>
		<p>
			Info:	<%=post.description%>
		</p>
		<%if(post.category === 'Meet'){%>
			<p class="text-danger"> <%= message %> </p>

			<form action="/posts/<%=post._id%>/going?_method=PUT" method="POST">
				<button>RSVP to <%= post.title%></button>
			</form>

			<p><%=post.attendance.length%> people are going</p>
			
			<a href="/posts/<%=post._id%>/attendance">See Who's Going</a>
		<%}%>
		<br>
		<br>

		<section class="ml-4">
			<%if(post.email !== undefined){%>
				Email: <p><%=post.email%></p>
			<%}%>
			<br>
			<%if(post.location !== undefined){%>
				Location: <p><%=post.location%></p>
			<%}%>
			Date Posted: <p><%=post.date.toDateString()%></p>
			<br>
			<%if(post.category == 'Meet'){%>
			<p>Event Time and date:  <%=post.time.toLocaleString()%></p>
			<%}%>
			<br>
			Poster: <a href="/users/<%= user._id %>"><%= user.name %></a>
		<%if(post.category === 'Meet'){%>
			<p class="text-danger"> <%= message %> </p>

			<form action="/posts/<%=post._id%>/going?_method=PUT" method="POST">
				<button>RSVP to <%= post.title%></button>
			</form>

			<p><%=post.attendance.length%> people are going</p>
			
			<a href="/posts/<%=post._id%>/attendance">See Who's Going</a>
		<%}%>
		</section>
	</main>

<%- include ../partials/footer.ejs %>