<%- include ../partials/header.ejs %>
	<%if(user._id == session.userId){ %>
		<header class="editB">
			<a href="/posts/<%=post._id%>/edit">Edit Post</a>
			<form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
				<button class="delete">Delete Post</button>
			</form>
		</header>
	<%}%>
	<main>
		<h1><%=post.title%></h1>
		<img src="<%=post.image%>">
		<p><%=post.description%></p>
		<% if (post.email !== '') {%>
			<p>Post Email: <%=post.email%> </p>
		<%}%>
		<% if (post.location !== '') {%>
			<p>Location: <%=post.location%> </p>
		<%}%>
	</main>
	Poster: <a href="/users/<%= user._id %>"> <%= user.name %></a>
<%- include ../partials/footer.ejs %>