<%- include ../partials/header.ejs %>
	<a href="/posts/<%=post._id%>/edit">Edit Post</a>
	<form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
		<button>Delete Post</button>
	</form>

	<h1><%=post.title%></h1>
	<img src="<%=post.image%>">
	<p><%=post.description%></p>
	<p><%=post.email%></p>
	<p><%=post.location%></p>

<%- include ../partials/footer.ejs %>